.header {
  /* position: fixed; */
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #020296;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
